.tab5-avatar img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: fill;
  border: #09ba852a solid 8px;
  border-style: outset;
}

.tab5-avatar {
  font-family: "Nunito", sans-serif;
}

.tab5-avatar p {
  margin: 0;
}

.tab5-avatar p:nth-child(2) {
  color: #09ba86;
  font-weight: 600;
  margin-top: 12px;
  font-size: 24px;
}

.tab5-avatar p:nth-child(3) {
  color: gray;
  font-size: 16px;
}

.tab5-custom-card {
  border-radius: 15px;
  box-shadow: none;
}

.tab5-custom-card-content {
  padding: 2.5px;
}

.tab5-custom-item {
  border: rgba(128, 128, 128, 0.15) 1.5px solid;
  --background: transparent;
  --padding-start: 10px;
  --padding-end: 10px;
  --inner-padding-end: 10px;
  border-radius: 10px;
}

.tab5-custom-icon-start {
  color: gray;
}

.tab5-custom-icon-end {
  color: gray;
}

.tab5-custom-label {
  font-family: "Nunito", sans-serif;
  font-size: 18px !important;
  color: gray;
}

.tab5-logout {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.tab5-logout ion-router-link {
  color: #f44336;
  font-weight: 600;
  margin-top: 10px;
  font-size: 18px;
}
